[2020-06-09 17:15] MartCube opened #1 "User gps location"
Can you provide us a small demo code where we can use this plugin so we can display user's current location.

[2020-06-10 03:55] xon52 commented on #1
Thanks for trying it out. I made you an example on the demo:
[https://xon52.github.io/x5-gmaps/#setcenterofmaptocurrentlocation](https://xon52.github.io/x5-gmaps/#setcenterofmaptocurrentlocation)
And here's the file for that component:
[https://github.com/xon52/x5-gmaps/blob/master/example/ExampleSetPosition.vue](https://github.com/xon52/x5-gmaps/blob/master/example/ExampleSetPosition.vue)

In sho

[2020-06-16 16:29] idaviddesmet opened #2 "Support for Polylines?"
First of all, thank you for creating this amazing plugin for Vue.

I would like to ask if you have any plans to add support for drawing polylines on the map. A use case will be for drawing the path a certain marker took (from a start position to end position), for example in JavaScript:

[code]

Which renders:

![image](https://user-images.githubusercontent.com/2607383/84800952-2bb5b180-afc4-11ea-

[2020-06-17 00:04] xon52 commented on #2
Hey mate, thanks for trying it out. Absolutely, it's just been a time issue for me.
For my projects I don't need it so it hasn't been a priority (which I can also use work time for); but it's been constantly on my todo list so now that you've asked, maybe this weekend!

[2020-06-17 15:32] daviddesmet commented on #2
Thanks a lot for considering the feature, I’m looking forward to it 😊

[2020-06-17 18:04] JoKre17 commented on #2
Hey everyone,

since you started an issue regarding a new feature which basicly is to be able to add basic GMaps elements, I wanted to share how I did a short workaround, as long as this is not supported by @xon52 . :D

Hint: $refs.gmap is the component from x5-gmaps.

`
// adding the search circle when map is ready
_eventSearchComponent.$refs.gmap.getAPI().then((GMaps) => {

    var circle_option

[2020-06-20 11:57] mheob opened #3 "Feauture Request: Typescript support"
For me as a TypeScript user the support would be very helpful.

At the moment I get the following error messages.

Inside VS Code:
[code]

On trying to use:
[code]

[2020-06-20 23:09] #1 closed

[2020-06-25 12:35] xon52 commented on #2
OK v0.3.11 is up and includes polylines. [Here's an example](https://xon52.github.io/x5-gmaps/#polylinesandpolygons).

Any problems, just make a new issue.

Circles and rectangles should be very similar so I'll do that tomorrow 😇

[2020-06-25 12:35] #2 closed

[2020-06-26 03:34] xon52 commented on #2
@idaviddesmet @JoKre17 v0.3.12 now also have rectangles and circles FYI.
[Here's the example](https://xon52.github.io/x5-gmaps/#rectanglesandcircles)

[2020-06-26 04:57] daviddesmet commented on #2
Thanks @JoKre17 for the tip, This week was hectic at work and didn't get time to look back at this.
Wow! Thanks a lot @xon52 for being so quick on implementing polylines and also for the step further by adding circles and rectangles 😊

[2020-06-26 05:02] daviddesmet commented on #3
+1 on this!

As a workaround (mentioned by the error message), this should work when placed on the `src` root directory or under `types` directory:

[code]

[2020-06-27 11:04] MartCube opened #4 "Loading indicator"
This may not be directly relevant to this repo, But I'm using your maps and they are really nice.
However I noticed when they load they have a grey background and a white circle spinner.
Is there anyway to customize this ?

[2020-06-27 14:08] xon52 commented on #4
That's an interesting question. It is currently just a static div that uses the class gmaps-spinner which is not customisable, but I don't see why it can't be using a slot. I can add that in.
I am curious though, it really should not be visible for very long. It's visible while the the map is loaded plus 100ms, but I never see it for more than a flash. Is there a noticeable delay or is it just a l

[2020-06-27 15:08] MartCube commented on #4
I noticed it when i worked on loading indicator for my app. It is not something really noticeable , it is a small time as you said.
However for cleaner app design I would love to be able to customize it or at least to be able to remove the circle and have just a background color.

[2020-06-28 02:43] xon52 commented on #4
OK @MartCube should be possible now with v0.3.13

Check out the docs [here](https://github.com/xon52/x5-gmaps#custom-map-slots). Have a play around and let me know if there are any issues with the solution.

[2020-06-28 02:43] #4 closed

[2020-07-02 11:19] MartCube opened #5 "Update Marker Position"
Hello there, I'm having a task where I need to update user marker position.
I checked the [example code](https://github.com/xon52/x5-gmaps/blob/master/example/ExampleMarkerOptions.vue) provided where you use the **@move** event for marker.
My sample code looks something like this.
`<gmaps-map :options="mapOptions">
		<gmaps-marker :options="shopOptions" @move="updatePosition" />
</gmaps-map>`

`up

[2020-07-02 11:37] MartCube commented on #5
As a workaround solution I used **$refs** which works nice.
`<gmaps-map :options="mapOptions"> <gmaps-marker :options="shopOptions" ref="shop" /> </gmaps-map>`

then when I click on my save button I run the savePosition() method
`savePosition() { this.shopOptions.position = this.$refs.shop.marker.position.toJSON() }`

If there is some better way to grab position and other props from marker compone

[2020-07-02 12:56] xon52 commented on #5
I'll have a look at this on the weekend. I actually had to put a guard on some other components (the shapes) to stop this loop. I had better add it to all the other components like the marker too.

Obviously the issue is that Google's position event fires whether the user moves it or whether Vue "moves" it, so you end up in this horrible loop if you assign a new position from the event.

[2020-07-05 06:34] xon52 commented on #5
This has been fixed in v0.3.14

[2020-07-05 06:34] #5 closed

[2020-07-14 03:39] andrehsmendes opened #6 "Autocomplete Component Feature Request"
Great plugin.

Would be nice to have the Address auto complete as well as the map.

great work. regards.

[2020-07-14 07:40] xon52 commented on #6
Out of the immediate scope of this, but I'll leave it here to remind me to have a play around with it.
You can add the relevant library when you `Vue.use()` the plugin in your `main.js` so that you can use it on your own, but I'll see if I can make it a neat shortcut without adding too many bytes 😉

[2020-07-31 05:45] edwingromero opened #7 "HeatMap Heat - error - 'HeatmapLayer' of undefined"
Excuse my English.

I am trying to create a HeatMap. I follow the steps in the example but I get an error.

Error: Cannot read property 'HeatmapLayer' of undefined
<img width="623" alt="error gmaps laravel" src="https://user-images.githubusercontent.com/4934593/89004056-f4c30300-d2c6-11ea-88d4-c38c0485bcab.png">

This is the error message that appears

<img width="416" alt="error gmaps" src="https

[2020-07-31 07:00] xon52 commented on #7
Easy to miss. Glad you found it.

[2020-07-31 07:00] #7 closed

[2020-08-20 08:34] thefoxie opened #8 "Extend docs/readme on how to access and use GMaps instance"
Hey, I wanted to use places plugin, but had no idea how to use it. It could save some time if it were mentioned in the docs. I will submit a PR if you have no time.

[2020-08-20 10:29] xon52 commented on #8
Thanks for the prompt. I actually had to play around with this very recently and it wasn't intuitive. I have added a section in the docs for it, but if you have a better way you found, or have something to add, I'm very happy for more PR contributors.

[2020-08-20 10:29] #8 closed

[2020-08-25 13:07] ahmed-aliraqi opened #9 "Editing shape event"
How to update polygon `paths` when editing the shape by dragging the control points?

[2020-08-25 13:21] thefoxie opened #10 "Circle fires too many events"
Event `circle_changed` is fired too many times (I guess for every pixel) in case I drag the circle not exactly in the center of the circle. When I drag the little dot, it's fired just once.

[2020-08-25 21:09] xon52 commented on #9
Hmm, I thought I had this working but clearly not. Will get onto it ASAP.

[2020-08-25 21:22] xon52 commented on #10
I have just checked this and I am not finding it. Are you using the latest version (v0.3.20)?
I added a console log even to the example circle in the demo for when the center or radius is changed for you to compare:
[code](https://github.com/xon52/x5-gmaps/blob/master/example/ExampleShape.vue) [example](https://xon52.github.io/x5-gmaps/#rectanglesandcircles)

Let me know if that doesn't solve your

[2020-08-26 09:04] thebrownfox commented on #10
@xon52 I think it's property draggable that causes this. However, it behaves similar if you drag the circle (via the point in its middle) and drag it out of bounds (visible area).

[2020-08-26 09:13] xon52 commented on #10
@thefoxie can you share your relevant `<template>` code? I want to see which event you're listening to.

[2020-08-26 09:16] thebrownfox commented on #10
[code]

[2020-08-26 09:29] xon52 commented on #10
Ah, I think I see the issue. I think what's happening is your `changeRadius(location, $event)` changes the `location.radius.default` which triggers `@radiusChanged`.
It may also because `location.radius.added` adds something above the threshold (which is 1.0) that it triggers it. You may have to put some logic in to break that cycle like an `updating` property which it triggers and checks before r

[2020-08-26 09:35] thebrownfox commented on #10
@xon52 no that's not the issue. I mean dragging around not changing radius. It happens even when I remove those. Go to devtools and drag them around and you will see what I'm talking about. Or wait I will make gif and share it. Give me couple of minutes.

[2020-08-26 09:50] xon52 commented on #10
I can see an odd behaviour when dragging it to the edge of the screen and it moves the map. It looks like it's recording`boundsChanged` and `centerChanged` while the map moves - but they aren't actually firing my methods attached to them which is unexpected. I will have to have a closer look.

[2020-08-26 09:53] xon52 commented on #10
Ah, OK. I understand. Dragging the circle causes it the `centerChanged` event. Unfortunately, that is by design. I will have a think about if I can make the resolution it records a change variable. At the moment it is a change of 0.001 which may be too fine.

The issue is the resolution you want really depends on the map zoom. Maybe I can make it dependent on that.

[2020-08-26 10:15] thebrownfox commented on #10
@xon52 here it is https://cloud.foxie.sk/s/qLZrdMxb9Jf7TY5

[2020-08-26 10:37] xon52 commented on #10
@thefoxie can you explain how this is affecting performance or something else?
All I am doing is passing on Google Maps change events - I am not creating new events. I have throttled the `radiusChanged` and `centerChanged` events, and I can do the same to `drag` event but I think if it is a performance issue it will become slower as it will do a maths calculation every time the event fire anyway t

[2020-08-26 10:47] thebrownfox commented on #10
@xon52 I know, it depends on usecase. You cannot see it in the video but it creates a delay (and stutters) when there's method attached to the event. This might be because I use the event to update the circle itself + it bubbles up via event bus to parent component. As you said the delay might work better maybe. Not sure if users would drago those things crazy like that but I just noticed.

[2020-08-26 10:50] xon52 commented on #10
OK thanks for telling me. I didn't see `@drag` causes so many events. I will test if performance is improved by throttling it like I do with `radiusChanged` and `centerChanged`.

[2020-08-27 12:02] xon52 commented on #10
@thefoxie So I have spent most of today trying to fix this issue and decided that I won't be fixing this until the next major release - but I want to explain why because I really value your input and agree it's something that can be improved - if you're interested.

As I mentioned before, I'm just passing the Google Map events into Vue - I do not add any more events on top of Google Maps. There wi

[2020-08-27 12:02] #10 closed

[2020-08-28 04:41] xon52 commented on #9
@ahmed-aliraqi this is a problem with Google Maps Polygon's events being either poorly designed or poorly documented, but I have made a solution which is available on **v0.3.21**. I have combined the events `remove_at` and `mouseup` for the polygon to emit a `pathChanged` event (only when the line is editable).

Please raise another issue if you find any problems with this solution.

You can see t

[2020-08-28 04:41] #9 closed

[2020-08-28 09:08] thebrownfox commented on #10
@xon52 I really appreciate the time you invested in solving the issue and I understand your point of view. As I mentioned, it doesn't have to be such a big deal as users don't move around the point/circle/marker that much and frequently. I just noticed it because that's what devs do when they develop something, we push things to the limits. I will gladly help you with this, I've just been busy rec

[2020-08-28 13:05] thefoxie opened #11 "Feature Request: Granularity of fired events"
As we discussed in the other issue, there's need for granularity option for events. I guess there's use case for setting this in every event. For instance, I would love to have instant response when I resize circle. It's what we're used to - reactivity that comes with vue. In circle, this could be implemented as step-size="1000" (in meters), which would also change step of drag/circle expansion.

[2020-08-28 14:31] xon52 commented on #11
I agree. The issue is granularity should change with zoom. If you say 1000m, you cannot move it on zoom 22, but on zoom 0 it will be every pixel. As I said, I made a formula, but that was me testing, writing down step-size against zoom level, and then finding a formula that was close to those points. Do you have any ideas for how to overcome this?

[2020-09-23 10:28] thefoxie opened #12 "Computed markers throw error"
When the computed is changed second time when markers are rendered already, some errors are thrown. I guess it's because the old markers are not destroyed but don't have the values anymore (?).
[code]
`[Vue warn]: Error in callback for watcher "_options": "TypeError: can't access property "lat", t is undefined"`

[2020-09-23 17:13] tingan opened #13 "x5-gmaps not show in laravel app"
hi,
i install this npm package and import it in vue component. no error, but the maps doesn't show up, it's blank page for map area. do i need to include maps.js from google to laravel head script or other reasons? thanks.

[2020-09-24 10:10] xon52 commented on #13
Hi @tingan, unfortunately I don't use Laravel so I'm not sure what the issue is here.

Firstly, just to confirm, you have added the `Vue.use` bit of code in your `main.js`?

[code]

Secondly, is there any error or output in the console?

What this does is adds the Google script `https://maps.googleapis.com/maps/api/js` with all the settings and your key into your `<head>`. Theoretically, for Vue t

[2020-09-24 10:32] xon52 commented on #12
@thefoxie thanks for that. I couldn't find any relevant `t.lat` in the compiled code except for outside of the Popup component (not the Marker). I pushed an update that may fix it if that is the problem, so please update and see if it's fixed. If not, any more information would help a lot.

[2020-09-24 10:44] thebrownfox commented on #12
@xon52 wow that was fast. Unfortunatelly, the issue persists. I know, it's the callback/gmaps script. I suspect it has something to do with lifecycle since it's 3rd party DOM manipulation. I can make a codepen. I wanted to take a look at it as well, I just haven't had time yet.

[2020-09-24 10:49] xon52 commented on #12
Yeah, it will be the lifecycle. I have come across it before but it wasn't consistent enough for me to really get into it. If it's Vue-side it may just need a key which I will try, but if you can make a small pen that would help.

[2020-09-24 10:49] thebrownfox commented on #12
I just checked the commit and you updated popup.vue not marker.vue. Also, I think some form of cdn would be handy for the codepen. :smiley:

[2020-09-24 11:00] xon52 commented on #12
@thefoxie yeah that's what I said, I found a potential issue that may cause that in Popup not Marker.
Here's a CDN for you : [https://unpkg.com/x5-gmaps@0.3.24/dist/index.js](https://unpkg.com/x5-gmaps@0.3.24/dist/index.js)

[2020-09-24 11:02] thebrownfox commented on #12
@xon52 haha yeah thank you just figured out it's there as it's on NPM. Sorry, I might be exhausted a little bit :smile:

[2020-09-24 12:40] thebrownfox commented on #12
Here it is: https://codepen.io/thefoxie/pen/zYqezXq
Change computed with the button below.

[2020-09-24 23:35] xon52 commented on #12
@thefoxie fixed in 0.3.25. Thanks for reporting it and doing the codepen 👍

[2020-09-24 23:35] #12 closed

[2020-09-28 09:39] tingan commented on #13
in app.js
mport x5GMaps from 'x5-gmaps'
// Option 1: Just your key
Vue.use(x5GMaps, 'AIzxxx')

in vue component
 <GmapMarker ref="myMarker"
                            :position="google && new google.maps.LatLng(1.38, 103.8)" />
import { gmapsMap, gmapsMarker } from 'x5-gmaps'

no error in console, i can inspect the map by chrome, the map html code is there, but area is just blank.

[2020-09-30 13:16] thefoxie opened #14 "[Feature Request] Provide map instance to parent"
Sometimes it might be useful to access the map instance itself as you do in your children through provide/inject. Right now, I created workaround - custom component that is child of map instance which emits the injected `this.getMap()` to the parent.

hidden.vue
[code]
parent.vue
[code]

[2020-10-01 07:00] thebrownfox commented on #13
@tingan you have to give it a height (percentage works as well if it's wrapped correctly)

[2020-10-01 12:15] xon52 commented on #14
Hmm interesting idea. It may be easier for me to add that emit to the map component itself.
I'll have a think if there's another way before I make the change though.

Might also be worth adding it as a slot prop which would be another way to access it from inside the template.

[2020-10-01 12:52] thebrownfox commented on #14
@xon52 that's what I was trying to suggest. This is just a workaround. It should be emitted from the map component itself.

[2020-10-01 20:56] stuartpaulin commented on #6
Hi, I see you have made written some commentary about using places / the autocomplete service.  But I'm such a noob that I can't figure out how to actually use query after hours of googling and mucking about.  The best I found is bodging GooglePlacesAutocompletePlugin which is a library that can use the existing open api without double loading the google API.  Though this isn't ideal.  I would sup

[2020-10-02 10:29] xon52 commented on #14
Should be done in latest version (0.3.26) @thefoxie, please let me know if it's not working or could be better.
`<gmaps-map />` should have an `@mounted` event that supplies the instance.

[2020-10-02 10:29] #14 closed

[2020-10-02 11:01] thebrownfox commented on #14
@xon52 yeah sure works well. Thank you :)

[2020-10-02 11:09] thebrownfox commented on #14
There are few other things that might be useful as well, like animated panTo and fitBounds on map items (polygons, circles,...) upon their creation/mount. I have those implemented outside of gmaps components, but it could be useful to others to just toggle the functionality on via prop. If If I find some time over weekend, I will make an issue and commit as well.

[2020-10-02 11:17] thebrownfox commented on #14
@xon52 could you pls create pull requests and merge them so we can track those commits in the issues easily? I just found out you switched from camelCase to kebab-case in emitted events which I endorse, but it's breaking change and it should be mentioned in docs as well.

[2020-10-02 11:21] xon52 commented on #14
Yeah I will do.
Are you sure it's breaking? Vue automatically converts camel to kebab. Didn't break on anything I am using it on?

[2020-10-02 11:22] thebrownfox commented on #14
@xon52  Didn't work in my case. I changed the docs but I surely missed some events.

[2020-10-02 11:26] thebrownfox commented on #14
I guess it works when event is in camelCase and you listen for kebab-case. It doesn't work vice versa.

[2020-10-02 11:28] thebrownfox commented on #14
Shouldn't work that way either according to vue documentation https://vuejs.org/v2/guide/components-custom-events.html#Event-Names

[2020-10-02 12:08] xon52 commented on #14
@thefoxie I just deployed v0.3.27 with support for both camel and kebab. Didn't realise it was a breaking change so I will remove camel in the next major 😅

[2020-10-02 14:43] tingan commented on #13
hi, @thefoxie , thx, you are right, it's related with the height of the map, as i copy the code
<template>
  <gmaps-map>
    <gmaps-marker :position="{ lat: -27, lng: 153 }" />
  </gmaps-map>
</template>
and i assume it will works out of box, i inspect the code with chrome, although the height of gmap is 100%, but it didn't show up, but after i change the height to fixed number like 500px, the map

[2020-10-02 21:46] xon52 commented on #13
@tingan yes, if you give it 100% it will be 100% of the parent. If there parent has no height set, 100% of auto is auto, and auto is 0 for the map. Something else you can play around with is VH - I often use 90VH which is 90% of the screen height.

Unfortunately, no, I haven't implemented marker cluster functions. For now, only heatmap is available, but that is something I do want. Please add it a

[2020-10-02 21:46] #13 closed

[2020-10-03 22:28] tingan opened #17 "Feature requrest : Mark Clustering"
I find the x5-gmaps now does have all the functions i need except the mark clustering (https://developers.google.com/maps/documentation/javascript/marker-clustering), as the markers number is getting bigger and unmanageable soon. thanks.

[2020-10-15 10:54] xon52 commented on #6
@andrehsmendes @stuartpaulin
Just letting you know that I made a short tutorial on including autocomplete: [Address Autocomplete Example](https://xon5.medium.com/vue-google-maps-and-autocomplete-e9bf0fa3c42e). It's not a component, but should let everyone use autocomplete for now before I find time to get back to component making.

[2020-10-15 14:00] andrehsmendes commented on #6
Great, thx for the update on that.

On Thu., Oct. 15, 2020, 6:54 a.m. Keagan Chisnall, <notifications@github.com>
wrote:

[2020-10-16 17:20] voquanghoa commented on #11
I have the same issue now with the circles and markers.
I think it's simple to change

[code]

So that the number `0.001` can be changed by an option from somewhere.

I hope this change will be available soon.

Thanks.

[2020-11-07 13:31] kberawala opened #18 "Drop pin - Click on Map"
is there a way to drop a marker on the map, when user click somewhere on the map.
please see below

![ezgif com-gif-maker](https://user-images.githubusercontent.com/13636878/98442606-41816a00-2151-11eb-9993-ec7a812f98a9.gif)

Thanks

[2020-11-08 05:56] xon52 commented on #18
Yes. First thing is to have an array of markers for all your markers on the map, and then use `v-for` to put a `<gmaps-marker>` inside the `<gmaps-map>` component for each of those.
Secondly, you can listen to the `@click` event of the `<gmaps-map>` component which returns an event that includes a [Google Maps LatLng object](https://developers.google.com/maps/documentation/javascript/reference/coo

[2020-11-08 05:56] #18 closed

[2020-11-09 11:21] thefoxie opened #19 "Marker icon - only string"
Marker icon should be either string or object (define different size).

[2020-11-09 11:24] xon52 commented on #19
Hey @thefoxie can you elaborate a bit?

[2020-11-11 09:39] thebrownfox commented on #19
Hey @xon52 I meant the options like label or icon are expected to be strings instead of strings or objects with options. I used the options prop but I'm not sure if there isn't issues with reactivity you mentioned in the docs. Sometimes the markers won't change which is weird but they shouldn't even work then (the url for the icon is in the object as well). Maybe it's related to gmaps library itse

[2020-11-11 11:38] xon52 commented on #19
This is really odd. I actually guessed this would happen while I was writing it but never observed it.
With the marker you can give it a label or icon prop (which has to be a string) or set them in the options object.
The options object gets put straight into the Google Maps API, so if you don't get errors, Google API accepted it.

Having said all that, it's Vue we're talking about, and I'm also n

[2020-11-11 12:06] thebrownfox commented on #19
I don't see problem in the marker component as it gets recomputed but those markers are changed 1) right after load (short flick) 2) Or stay big and all change just after I click on marker. I pass following object to prop options:
[code]
It's strange it takes url but not the other properties which might be because if maps library is not loaded I don't set those other properties. Real solution to t

[2020-11-11 12:11] thebrownfox commented on #19
[code]

[2020-11-11 23:38] xon52 commented on #19
@thefoxie I have tried to replicate this and can't. I didn't try with the label as the label seems to be scaling fine from your pictures, but when I use an object for icon properties in the options object mine seems to work.

I added a new feature to the [example page](https://xon52.github.io/x5-gmaps/) to help me to test things like this, but you can see my test if you hold Ctrl and click on the

[2020-11-11 23:51] thebrownfox commented on #19
@xon52 I bet it would be because of the way I work with the GMaps library. It works internally as computed of marker component changes but the DOM elements of GMaps don't reflect it. I will test it out tomorrow and maybe we could add note to the docs about right usage.

But originally this issue was about the named props like `:icon` or `:label` accepting strings only. The init of those options co

[2020-11-12 01:01] xon52 commented on #19
I understand. I have made that change so that the inline icon and label properties can now accept objects.
If the issue persists, please make a new issue with a reproduction.

[2020-11-12 01:01] #19 closed

[2020-11-13 13:44] abbeMoh opened #22 "infoWindo issue"
( Error in callback for watcher "options": "TypeError: Cannot read property 'setOptions' of undefined"
Cannot read property 'setOptions' of undefined )

Code =
 <gmaps-info-window v-if="canOpenInfoWindo" @closed="hideInfoWindow()"
:options="{position:{lat:infoLat, lng:infoLng},content:info,minWidth:250,pixelOffset:{width:0,height:-38}}" :key="infoLat+infoLng"/>

[2020-11-15 13:37] xon52 commented on #22
Fixed in v0.3.29.
Thanks for pointing it out @abbeMoh 👍

[2020-11-15 13:37] #22 closed

[2020-11-20 09:24] kossa commented on #13
I had the same issue in Laravel, so I fixed height it works fine :

[code]

![image](https://user-images.githubusercontent.com/1175584/99783248-778ff800-2b1a-11eb-97e9-54b124c164c1.png)

[2020-11-20 10:29] kossa opened #24 "Question : how to create map like tinder"
Hello,

First thank you for the great package, really you have to add it here : https://github.com/vuejs/awesome-vue#map ;)

I want to create a map and I put all user from my DB into the map, when I click on the user profile I see the information.
1. do you have an example like this ?
1. How to show user info on click ? should I emit click event and popup outside of the map ?

![](https://i.dailym

[2020-11-20 11:28] xon52 commented on #24
Thanks 😊
Good question. I don't have a specific example of this, but if you go to the [example page](https://xon52.github.io/x5-gmaps/) it would be either "Markers with Options" or a combination of "Markers with Options" and "DOM Elements / Popup":

1. The simplest (and maybe best) is to detect the click and open a modal over the map. The cost is something pops up over the map and not where you cl

[2020-11-20 13:27] kossa commented on #24
Very helpful

a small gift : https://github.com/vuejs/awesome-vue/pull/3568

[2020-11-20 13:30] #24 closed

[2020-11-20 13:52] thebrownfox commented on #13
@kossa you don't have to give it viewport height. Works with percents as well. It can work dynamically, ie. you wrap it around flex containers then it takes 100% of what is left.

[2020-11-20 14:32] kossa commented on #24
Finally I did it here is the code may be will help someone

[code]

![image](https://user-images.githubusercontent.com/1175584/99811447-7d4f0300-2b45-11eb-97f2-832f1deddb41.png)

[2020-11-20 20:44] xon52 commented on #24
@kossa just note that the InfoWindow is actually a Google Maps component in a Vue wrapper. The issue with the InfoWindow is that close button. The only way to hide it is with a CSS hack which is pretty messy, so that's why I made the `<gmaps-popup>` component (which doesn't have the close button).

Yours looks good, and if you're happy, so am I; but if you want to remove the close button, use `<gm

[2020-11-20 20:46] kossa commented on #24
Great idea thanks

[2020-11-25 13:02] thefoxie opened #25 "Support for vue3"
Pretty self explanatory. I'll provide the PR. Do you want to split it to another repo, create monorepo or have branches like main containing vue3 code and vue2 branch containing vue2 code? Or main could have vue2 and next vue3 till the shift in npm vue package when vue will become vue3 by default.

[2020-11-26 22:43] xon52 commented on #25
Great question. I have been wanting to do this but decided to wait until it's released.
I am able to be swayed, but how about a monorepo for now?
I would like to make some bigger changes too and seeing as Vue3 may have some breaking changes it makes sense to include all of those together in v1.0.

Having said that, when compiled it shouldn't make any difference, so Vue3's more for dev than anythin

[2020-12-02 16:55] diegomagikal opened #26 "Deploy in a Quasar framework app"
Thanks a lot for this project!

I'm trying to run x5-gmaps in a Quasar app:

[code]

[code]

[code]
But I get this error:

`Error in mounted hook: "TypeError: this.$GMaps is not a function"`

I'm already tried to create `this.$GMaps` manually putting the following code in a `quasar boot` file:

[code]

But the same error occurs. Any idea? Thanks in advance!

[2020-12-03 11:58] xon52 commented on #26
Hi @diegomagikal, thanks for raising this issue. TBH, I don't have much experience (none at all) with Quasar, so I can't comment on that specifically; however, after reading this I had another idea to avoid the potential context issues `this.$GMaps` will have.

Please try the latest version (0.3.30) as I have added an additional way to access the Google Maps API (instead of `this.$GMaps`); by allo

[2020-12-03 14:52] diegomagikal commented on #26
Hello, thanks for your help.

After upgrade to 0.3.30, the `this.$GMaps` error is gone, but I can't still initiate the plugin. I get the error `TypeError: Cannot read property 'install' of undefined`.

You can check it here:
https://codesandbox.io/s/clever-dewdney-c535r?file=/src/boot/gmaps.js

Or:
https://github.com/diegomagikal/x5-gmaps-issue-26

Note: the files are `/src/boot/gmaps.js` and `/sr

[2020-12-03 22:50] xon52 commented on #26
OK, so after a bit of learning: [Quasar is special](https://techformist.com/using-vue-plugins-quasar/) when is comes to plugins which I didn't realise. I'll need to add it in the docs, but you can't use my installation instructions of `Vue.use(x5Gmaps, 'XXXX')`. What you need to do instead is in your `gmaps.js` boot file, import the default export as 'install' and run that with the Vue instance an

[2020-12-04 12:24] diegomagikal commented on #26
Great! Thank you very much. It's working perfectly. I'm migrating a legacy web app to Vue so your plugin will be very useful for me. Cheers!

[2020-12-04 12:24] #26 closed

[2020-12-18 03:30] phani1kumar opened #28 "move event not firing in nuxt application"
I am new to both vue and nuxt. It took quiet a bit of time to figure out how to make this plugin work in Nuxt. I am using Nuxt js 2.14.

I've had to create a plugin and mark it as `{ src: '~/plugins/x5-maps.js', ssr: false }` to make the plugin work. After all the setup, and trying to capture the "move" event for the marker, the even is never firing.
[code]
Here, the mounted event of the `gmaps-ma

[2020-12-19 03:40] xon52 commented on #28
Hi @phani1kumar, I'm not an expert in Nuxt myself and have not tested this using Nuxt - but I think it should be fine in theory.

Looking at your code I see you have `@positionChanged` which has been depreciated (and may now be broken), but you mention `@move` in your description - so first, can you confirm you're using `@move` and not `@positionChanged`?

[2020-12-19 22:57] phani1kumar commented on #28
Thank you @xon52  for your reply. Thank you very much for such a beautiful library, you made my life simple with the library and the nice examples. I've tried `move` first and then changed to `positionChanged` and `position_changed` just to test if the original event is firing up. I was able to manage to solve the problem by registering a listener to `position_changed` during `@mouseover` and was

[2020-12-20 02:24] xon52 commented on #28
By depreciated I mean I don't plan on forwarding the Google Maps event `position_changed` to my Vue package event `positionChanged` in the future. What you did was clever but a bit of a hack by accessing the Google Maps events through the Vue component - I'm still confused as to why you have needed to do that.

What about the other events from the component? e.g. `@click`, `@mouseover'

If you use

[2020-12-21 14:23] sam0910 opened #30 "Access Google map instance ?"
Greetings!
Thank you for your great map component.
I've read 'README' and the issues with 'thefoxie' ,
but I am poor at Vue, I could not access the google map instance.

Could you help me to understand how to use it ?
I'd like to use Google map methods(ex:panTo) after it's mounted with some click function.
I've tried this,
[code]
Error :TypeError: this.mapInstance.panTo is not a function

[2020-12-22 00:33] phani1kumar commented on #28
`@click, @mouseover` they did trigger. Also in the gmapsMap the `@ready` event also fired, I couldn't understand the reason why the `@move` didn't fire in gmapsMarker, that sounded weird.

But as I told earlier, I am  no expert in Vue or Nuxt. Still a learner, hence couldn't really figure out what is going wrong in this particular case!

[2020-12-24 22:45] xon52 commented on #28
OK, well if you see it again or find out why, please let me know.

[2020-12-24 22:45] #28 closed

[2020-12-24 23:04] xon52 commented on #30
Sorry for taking a while to reply, I have been busy with Christmas.
You have misunderstood what `gmaps()` does - it returns the Google Maps API (which is what is used to create Google Maps objects).
You want the instance created which is primarily accessible through the `<gmaps-map>` component which emits a reference to itself using the `mounted` event:

[code]

I hope that makes sense and works a

[2020-12-24 23:17] phani1kumar commented on #28
sure, I'll. Thank you for such a nice library and the support.

[2020-12-25 10:02] sam0910 commented on #30
Thank you for the present.
It works so well. :)

Merry Christmas ,

[2020-12-25 10:02] #30 closed

[2021-01-07 13:34] l1ph opened #31 "Infow Window Option"
Hi is there a option to leave the InfowWindow Closed on the beginning?

Thx for your help

[code]

i tried to close it when mounted but it is not working

this.$refs.b.open()

[2021-01-07 22:36] xon52 commented on #31
I may need to change the method name in the code to avoid confusion, but the `open()` method in the _InfoWindow_ component is a creation method (i.e. It shouldn't be called outside of creation). It calls the Google Maps function `open()` which creates and attaches the map instance the InfoWindow belongs to.

The Google Maps function `close()` simply removes the InfoWindow from the map instance it'

[2021-01-13 22:30] #31 closed

[2021-01-15 11:00] thefoxie opened #32 "[Feature Request] GeoJSON features component"
It should be possible to create component with geojson instead of google objects. I do create polygons like this as I receive large (sometimes 70k points) sets of data that I work with and it would be preferred to not process the data just for component again . I've added this to my app, but not as a component. I will look into this later and send PR.

[2021-02-03 12:40] stereonom commented on #25
Hi.
Any plans or dev-branches for vue3-support?

I'd love to use it in a project as all the other gmap plugins seems crappy.

[2021-02-04 03:04] xon52 commented on #25
@thefoxie may have gotten side tracked. I'll find some time this weekend to scope it out. Been meaning to anyway. Thanks for the prompt @stereonom

[2021-02-10 12:43] xon52 commented on #25
As an update, I have started work on this. I will publish a beta soon (~1 week) for comments and changes from anyone interested.
As it's long overdue (and already requires a total rewrite), it will be a major update to v1.0 and be written in Typescript.

[2021-02-10 16:55] DCSnip3r commented on #17
I agree this is a good feature

[2021-02-10 22:21] xon52 commented on #17
This will be the next change after the upgrade of Typescript and Vue 3 support.

[2021-02-11 07:30] thebrownfox commented on #25
@xon52 I wish I had the time. I've got 2 projects simultaneously and it's nuts (no time for anything). I will be glad if I'm able to help with something/anything, just mention me.

[2021-02-11 07:34] xon52 commented on #25
All good @thefoxie, when I'm done I'll ping you for a code review and test.

[2021-03-03 21:25] gerritvanaaken opened #35 "failed init for V3 version"
Hi, I wanted to give V3 alpha a trial and installed it via `npm install x5-gmaps`, the resulting package.json entry looks good: `"x5-gmaps": "^1.0.0-alpha.3"`

My main.js looks like this:

[code]

And I’m getting serious error messages in the console, my app wouldn’t start anymore. Here is what I get from Chrome Dev Tools:

[code]

I have no idea how to debug this, any help is much appreciated!

[2021-03-03 22:10] xon52 commented on #35
Hey @gerritvanaaken, I am actively developing this in all the free time I have. Was meant to be finished this week but will be another week at least after testing etc.
Some tricky challenges with upgrading it to support Vue 3, composition API, and Typescript. I'll keep you posted, but it won't be long.

[2021-03-04 07:25] gerritvanaaken commented on #35
No pressure, just a first feedback which might be useful for your further work on the plugin!

[2021-03-16 08:26] kossa opened #38 "Drop and move marker"
Hello,

There is a way to move/marker and get the lat/lng ?

Thanks

[2021-03-16 08:59] xon52 commented on #38
I recommend having a look at the [marker options example](https://github.com/xon52/x5-gmaps/blob/master/example/examples/MarkerOptions.vue). You will notice that the `@move` event emits the position for you to use.

The update for this I'm working on now will change the event name to be more consistent with the Google Maps docs, but for now I think you want `@move`.

[2021-03-16 09:10] kossa commented on #38
Alright what I need thanks :)

[2021-03-17 06:49] kossa commented on #38
The move event does not fired on my code, also in [marker options example](https://github.com/xon52/x5-gmaps/blob/master/example/examples/MarkerOptions.vue)

check the [demo](https://xon52.github.io/x5-gmaps/)

![image](https://user-images.githubusercontent.com/1175584/111426783-77cd8800-86f5-11eb-90d2-5e8bdfcd1c9c.png)

[2021-03-17 08:32] xon52 commented on #38
Thanks for finding this. Problem solved. Surprised it hasn't been complained about before 🤔
Check it's working on your side @kossa and then close this if it's good.
The next version will have much better support in this area.

[2021-03-17 08:38] kossa commented on #38
I confirm it works fine

![image](https://user-images.githubusercontent.com/1175584/111438424-83747b00-8704-11eb-8fa1-908bc5bc6c14.png)

[2021-03-17 08:38] #38 closed

[2021-03-18 10:23] xon52 opened #41 "Add sensitivity option for Circle and Rectangle"
As per [PR#36](https://github.com/xon52/x5-gmaps/pull/36)

[2021-03-20 22:11] roryheaney opened #42 "Question ( non issue ). How to access the map to apply fitBounds."

[2021-03-20 22:22] roryheaney opened #43 "Question ( non issue ). How to apply fitBounds to the map instance."
I'm able to access the map instance, but I feel like I'm doing something else wrong ( markers load correctly, popup window works great ect ):

Mounted:

    this.$GMaps().then((GMaps) => {

			this.mapInstance = GMaps;

		}).then(() => {

			this.getLocationService();

		});

And when I reference it again for my API call, I get **fitbounds is not a function:**

    Service.getLocations(this.formDa

[2021-03-20 22:27] #42 closed

[2021-03-21 00:36] xon52 commented on #43
Hi @roryheaney I'm happy to clarify - and acknowledge maybe there needs to be better docs on this.
`this.$GMaps()` returns the Google Maps API - not the map instance.
To get the map instance you need to add `@mounted` on your map component and it will return the instance after it is created and rendered:
[code]
[code]

Happy to explain more if you need, but the steps taken to render the final map

[2021-03-21 16:29] roryheaney commented on #43
@xon52 OOOO, gotcha.  Yeah that makes total sense now.

That also did it for me. Thanks again for the assist, and this plugin really is awesome.  It's been a super easy to use, and the popup option has been great.

[2021-03-21 16:29] #43 closed

[2021-03-24 11:34] xon52 commented on #3
Finally included Typescript support 🎉

[2021-03-24 11:34] #3 closed

[2021-03-24 11:36] xon52 commented on #11
Custom sensitivity was added to Marker and will be added to Circle and Rectangle soon in this issue: #41

[2021-03-24 11:36] #11 closed

[2021-03-24 11:38] xon52 commented on #35
The problem here is the library is written in and for Vue 2. Now that we have Typescript support I will be able to focus on Vue 3 as the next major rework. It's coming!!
Also Vue 3 support is already raised as an issue here: #25

[2021-03-24 11:38] #35 closed

[2021-03-27 12:51] #41 closed

[2021-03-27 12:53] xon52 commented on #32
I've added support for this. I'm sure it can be improved, but I need someone to try it out and provide feedback.

As always, open a new ticket when you have a suggestion or if there are any issues related to this new feature.

[2021-03-27 12:53] #32 closed

[2021-03-27 12:54] xon52 commented on #6
Closing this as it remains out of the scope but the example mentioned should help anyone stuck on implementing this.

[2021-03-27 12:54] #6 closed

[2021-03-27 14:00] kbottner commented on #25
I was giving x5-gmaps a try using Vue3 when it appears I ran into a related issue.

Uncaught TypeError: Class extends value undefined is not a constructor or null
    at Module.eval (index.js:21)
    at i (index.js:1)
    at eval (index.js:1)
    at eval (index.js:1)
    at eval (index.js:1)
    at eval (index.js:1)
    **at Object../node_modules/x5-gmaps/dist/index.js (chunk-vendors.js:1934)**

[2021-03-27 21:01] xon52 commented on #25
@kbottner I just fixed a breaking issue but I think it's different to what you're describing. I will see if I can do a quick and dirty Vue3 port ASAP. I ran into some technical challenges in my first Vue 3 version and decided to fix up Vue 2 version first.

[2021-03-27 23:09] xon52 opened #47 "ESLint error in Vue components"
After testing the latest version of this in a mockup Typescript project, I have found that inside a Vue component

I cannot seem to avoid the eslint error: `'google' is not defined.eslint (no-undef)`.
It seems to work fine inside a `.ts` file, and all the Google API Types are available (e.g. `google.maps.LatLngLiteral`), but that error persists.

Would love some help in finding what's needed here.

[2021-03-28 10:58] xon52 commented on #47
This problem doesn't exist using the older dev-dependencies:
[code]
But these are quite old.

An alternative I could try is making my own namespace which can handle all the input type definitions and so we don't need the google definitions anymore - but not today ⌚

[2021-03-31 01:48] kbottner commented on #25
Happy to give it a try when you have something ready.

[2021-04-09 14:03] kbottner commented on #47
Does your .eslintrc.js file contain the google line in the extends section?

[code]

[2021-04-10 14:47] xon52 commented on #47
Can't seem to get that to work @kbottner ?
Are you using the latest? Is it working for you?

[2021-04-11 04:26] kbottner commented on #47
I filed that addition to issue #25 and haven't moved back to X5 since I was waiting on a resolution. But I am using Google Maps directly and that is how I got eslint to appropriately work.

[2021-05-03 04:37] xon52 commented on #17
I've broken my docs build and am waiting for some help to fix them, but I have made this component.
Still needs to be tested and refined, but the basic function is there.

Check it out by selecting Marker Cluster from the dropdown here: [Demo](https://codesandbox.io/s/x5-gmaps-demo-6xww1?file=/src/examples/MarkerCluster.vue)
And have a look at what the docs will eventually say about them here: [Cl

[2021-05-03 04:37] #17 closed

[2021-05-04 19:34] thefoxie opened #57 "vue-property-decorator dependency"
It's not mentioned in docs but the project where it's used won't build without it. I no longer use components but I keep the library to load google libs for me which is valid use case I guess(?). I use leaflet now with google maps tiling and autocomplete.

Apart from that, I had lots of fun with this plugin but there's no official support for spiderify in google's map clusterer which is real shame

[2021-05-05 11:19] tomeus opened #58 "Cluster uncaught TypeError"
"x5-gmaps": "0.5.2" has no problem with the dependency.

I'm trying to use cluster component that is not documented here https://xon52.github.io/x5-gmaps/api/ but I found it here demo https://codesandbox.io/s/x5-gmaps-demo-6xww1. But it fails on the error below.

[code]

[code]

[2021-05-12 12:22] bob606 opened #59 "Alter the mapcenter after it's initialization"
Hello, thanks for all of your work on the libary. It's great to use.

I wanted to ask if there is a way to alter the map center, after it's initialization. As the gmaps options are currently only avaible through an object, you can't change values on the fly through named props like you can do with gmarkers. Is there a workaround for that?

[2021-05-18 09:42] Chalkin opened #60 "undefined window on SSR"
When running as SSR you get this undefined window error and a 500 Internal Error on the server.

Project is created via vue-cli

[code]

**Implementation:**

**Parent/Wrapper Component**

[code]

**Parent:**

[code]

[2021-05-20 16:54] pet1330 commented on #59
There is a mounted hook which returns the gmap object:

[code]

[code]

then you can either do:

[code]

[2021-05-21 12:37] #59 closed

[2021-05-23 09:49] xon52 commented on #60
Hey thanks for reporting this. Apologies I missed it.
And in advance, I am also not very experienced in SSR so I'm hoping you can help try a few things for me to add to the docs around SSR use.

I have made a few minor changes in this PR #62 and published ~~v0.5.3~~ v0.5.4 for you to try.

I have seen people wrap components in `<no-ssr>` and `<client-only>` tags to avoid this, but a) that means it

[2021-05-23 10:01] xon52 commented on #47
Fixed this in #62 I think with a typeRoot property in tsconfig.

[2021-05-23 10:01] #47 closed

[2021-05-23 10:13] xon52 commented on #57
Hey mate, I'm sorry I missed this. New job floods my notifications and thought I was able to keep an eye out but obviously not.

That's a very interesting implementation, would love to have a look if you don't mind? xon52#5557 on Discord?

Maybe I could add the spiderifying. Will have to read up on it.

Switching over to TS support I needed to use the decorator but I really don't like it. It's cur

[2021-05-23 10:13] #57 closed

[2021-05-23 10:32] xon52 commented on #58
Apologies I didn't see this. Please try again if you don't mind, I have put a guard in there for this error I think (v0.5.4).

[2021-05-23 10:32] #58 closed

[2021-05-25 09:45] Chalkin commented on #60
That version seems to resolve the issue. Thanks a lot :)

[2021-05-25 09:45] #60 closed

[2021-06-14 13:53] mstfkhazaal opened #69 "How can draw in map"
I have a map and I have to draw it, to demarcate the borders of each piece of land separately.
How do I do this with this library

Like this image
![1_vr4Cqg_FRtG50D9nZch14Q](https://user-images.githubusercontent.com/47450090/121903856-62d2b600-cd31-11eb-8c28-c1253f6bccca.png)

[2021-06-14 23:23] xon52 commented on #69
Hi @mstfkhazaal,
There are two ways: [Polylines](https://xon52.github.io/x5-gmaps/api/polylines.html) and [GeoJSON](https://xon52.github.io/x5-gmaps/api/data.html)
Polylines is simple, but overly verbose for tonnes of data points like you'd need there. GeoJSON is much more suited but you will need to use the [GeoJSON](https://en.wikipedia.org/wiki/GeoJSON) data structure. You may have to find the

[2021-06-15 22:18] DCSnip3r opened #70 "How to remove Google's places from map"
Is it possible to remove the places suggestions that appear on the map as various markers? These can clutter up the information you want to display.

![image](https://user-images.githubusercontent.com/28986986/122130741-b4487700-cdfd-11eb-8f2d-74c30238683b.png)

More generally, is it possible to use a particular map-ID and map-style that you define on Google Maps Platform?

[2021-06-16 06:48] xon52 commented on #70
So I looked into this a couple of years ago and wasn't successful in finding a way.
Revisiting this, I have found a potential way (but haven't tested) by [styling a custom map](https://developers.google.com/maps/documentation/javascript/styling) - the `mapId` can be added like so `<map :options="{ mapId: xxx }" />` (it's a standard option property). The limitation is that is not controlled via [my

[2021-06-16 15:20] DCSnip3r commented on #70
`:options="{ mapId: xxx }"` works like a charm! Thanks for the reply, this is a perfect solution.

Just need to make sure the mapId you use has your custom style applied. Doing this in the google maps platform is quite easy. In my view, using Google's style maker and applying the style to the map ID is the preferred option over styling the map with the raw array. One advantage of this method is yo

[2021-06-16 16:15] #70 closed

[2021-06-16 22:19] xon52 commented on #70
Great! Thanks for sharing. I'll have to have a look at this sometime myself as I suspect that all the `mapId` does is return that JSON you setup via the Google Style Maker. If that's the case then you can shortcut things like darkmode by just changing the JSON in the `styles` prop of `options`.

[2021-06-18 17:04] DCSnip3r commented on #70
That's a good idea because updating the style directly would probably be much more performant. Thanks for the suggestion!

[2021-06-23 11:45] tomeus opened #71 "Cluster markers"
Hi,

would it be possible to influence map markers through cluster items? I mean, cluster prop items would be an array of marker props. I'm mainly interested in options and icons.

Thanks

[2021-06-23 13:42] xon52 commented on #71
I'm not following what you'd like to see? You'd like a custom cluster marker?

[2021-06-25 09:07] tomeus commented on #71
I'd like custom cluster marker and map marker.
![Markers](https://user-images.githubusercontent.com/16204382/123398779-31b17b80-d5a4-11eb-9477-093e91591c31.png)
I need to change the map marker image to SVG (Symbol Interface) and easy option to re-style cluster markers (shape, color).

[code]
Currently it is possible into mapMarkers pass only lat, lng, id and title (mapMarkers). My suggestion is pa

[2021-06-25 10:17] xon52 commented on #71
No problem. I wanted to do custom markers for clusters but it's not as simple as individual markers.

You can already do this with markers by the way. Check out the [icon prop for markers in the docs](https://xon52.github.io/x5-gmaps/api/marker.html).

You can see this implemented in the [demo](https://6xww1.csb.app/) if you select `Markers with Options`.

I'll add it to my list and try figure out

[2021-06-25 11:31] tomeus commented on #71
I know that it is already possible with gmaps-marker component. But when I want to change map marker icon for gmaps-cluster component I'm not able to do it. Unfortunately I need to have custering in my project. Custom cluster markers are not so important as custom map markers for me. So my original suggestion was that gmaps-cluster prop items can accept same parameters as gmaps-marker prop options

[2021-06-25 11:48] xon52 commented on #71
Great. Thanks for that information. As I say, I'll have a look at this some
time soon. It was certainly something I wanted to do at the start but
haven't had the time.

As always, of anyone else wants to have a try I'm keen to have more
contributors!

On Fri, 25 Jun 2021, 9:31 pm Tomáš Linhart, ***@***.***>
wrote:

[2021-06-28 13:19] tomeus commented on #71
Hi,

there is PR that I think solves my requirements https://github.com/xon52/x5-gmaps/pull/72

PS: A guide for contributors would be useful :-)

[2021-07-01 07:46] xon52 commented on #71
Thanks very much for that. Apologies it took so long to look at it. I was making a bunch of other changes and so will finish those before releasing it all together.
And I hear you about the contributors guide. Time is my biggest challenge but I do appreciate that helps other people help which saves me time - so it's worth it!

[2021-07-05 05:14] #69 closed

[2021-07-09 14:50] mstfkhazaal commented on #69
Thank You but How Can Draw the geojson?

[2021-07-09 15:36] xon52 commented on #69
That is not in the scope of this project. But Google is your friend.
First result looks pretty good: [https://geojson.io/](https://geojson.io/#map=2/20.0/0.0)

[2021-07-20 17:51] jarielfloriano opened #76 "Info Window for Marker"
It would be interesting to have a way to have an info window for each marker. It could even be a single instance of the information window, but when clicking on the marker, it would open an information window with the content destined for the clicked marker.

[2021-07-21 09:38] xon52 commented on #76
I am not sure if I understand what you're after, but the common pattern is to change a marker over to an infowindow when it's clicked. The usual way to do this would be to have two arrays of objects (open and not open) and then through various means have the open ones shown with infowindows and not open ones shown by markers.
Another way which I haven't tried might be to use dynamic components (`<

[2021-07-21 13:49] jarielfloriano commented on #76
Sorry @xon52, maybe I didn't express myself correctly.

I have several 'points' in my map, I am currently creating a window info element for each point. When clicking on the point, I run the function openWindow(ref) to open the window for that specific point. However, I needed all windows to be closed when loading the map.

Would this be a correct way to use it?
If so, how could I make sure all wi

[2021-07-22 02:09] xon52 commented on #76
So what I would do is have an `openMarkers` array a `closedMarkers` array.
**Method 1**
Fill `closedMarkers` with all markers at the start, (`openMarkers` is empty).
Have `closedMarkers` map to the `<gmaps-marker v-for... />` group, and `openMarkers` map to the `<gmaps-info-window v-for... />`
Add a handler for the  `@click` emit for each `<gmaps-marker />` which will add that marker to `openMarke

[2021-08-04 00:02] #76 closed

[2021-08-09 21:35] treystout opened #77 "Can't use MarkerLabel interface on Cluster Markers"
Thank you for this lib, it was sheer joy removing my horrible custom vue-gmaps implementation and using yours. I'm on v0.5.6 and was hoping to be able to use the [MarkerLabel](https://developers.google.com/maps/documentation/javascript/reference/marker#MarkerLabel) interface on my cluster elements.

However, according to [this line](https://github.com/xon52/x5-gmaps/blob/master/src/types/x5gmaps.t

[2021-08-09 21:37] treystout opened #78 "Add support for idle event on Maps component"
Currently the maps component supports the following events
[code]
I propose adding `@idle` as another since it auto-debounces `bounds-changed` for you.

[2021-08-10 02:06] #78 closed

[2021-08-10 02:07] #77 closed

[2021-08-10 02:07] #71 closed

[2021-08-11 13:04] treystout commented on #77
@xon52 Thank you for your great work!

[2021-08-11 13:04] treystout commented on #78
@xon52 Thank you for your great work!

[2021-08-11 13:27] treystout opened #80 "Incorrect type for Marker.label"
Same bug as #77 but for generic Markers.

See https://github.com/xon52/x5-gmaps/blob/master/src/components/Marker.ts#L14
Should be MarkerLabel interface not Icon.

See https://github.com/xon52/x5-gmaps/blob/master/src/components/Marker.ts#L26
Not sure why toString is called on it, I think it should be passed through untouched.

[2021-08-11 14:35] treystout opened #81 "Cluster component does not bind the `options` prop on Marker component"
The Marker component looks like it should handle [MarkerOptions](https://developers.google.com/maps/documentation/javascript/reference/marker#MarkerOptions.optimized) however when the markers are created by the Cluster component, [options isn't bound on the Marker](https://github.com/xon52/x5-gmaps/blob/master/src/components/Cluster.vue#L12).

All of this is so I can set `optimized: false` on my c

[2021-08-12 11:53] xon52 commented on #81
Good point. And what horrible code I write.

[2021-08-12 12:10] #80 closed

[2021-08-12 12:10] #81 closed

[2021-08-12 12:20] xon52 opened #83 "Cluster not zooming in on click when fully zoomed out"
![image](https://user-images.githubusercontent.com/30713944/129195612-c2f2e1a1-64c3-4add-a62a-12c6a64a0312.png)

[2021-08-12 13:04] treystout opened #84 "Fix cluster thrashing while dragging map"
I think this [event binding](https://github.com/xon52/x5-gmaps/blob/master/src/components/Cluster.vue#L142) should only refresh on `idle` not `bounds_changed`. Bounds changed gets call a *lot* while dragging

[2021-08-12 20:43] xon52 commented on #84
This is a challenging one. There are a lot of `bounds_changed` events in Google Maps and there are a lot of cases you do not want to wait for it to be `idle` before you do something.

So pretty much every component has a `bounds_changed` event:
`<gmaps-map />` just emit's every `bounds_changed` and `center_changed` event maps fires.
`<gmaps-marker />` has some logic to test that the last position

[2021-08-12 21:48] treystout commented on #84
I appreciate the explanation. I'm currently only drawing test sets for customers but my results are typically 50-100 random GPS coords all over north america. See video below to see individual pins flashing (they are just some free SVG I found on the web)

https://user-images.githubusercontent.com/751002/129274315-f9bed82b-3684-4007-af1f-615e75ce0508.mp4

I also zoomed out to show a mix of cluster

[2021-08-13 03:27] xon52 commented on #84
I see. And can reproduce even using standard markers. The problem is in the `refresh()` function itself whereby it is clearing and re-entering data. I might need to do something more fancy there to add and remove rather than clear and add. Will take a look at it this weekend if I get a chance.

[2021-08-13 14:09] xon52 commented on #84
As an update. After messing around for a couple of hours I remember why I did this. Vue has a horrible way of dying if you start deleting and adding things in an array/object used by `v-for`. Had two hours of this:
![image](https://user-images.githubusercontent.com/30713944/129369093-c98f0213-0583-465c-af44-e1f41fe70a75.png)
And my testing environment is broken since switching this project to TS,

[2021-08-14 07:30] xon52 commented on #84
Gave up and changed to the idle event, along with a few other improvements. Try it out and let me know.

Thanks for your suggestions @treystout 👍

[2021-08-14 07:30] #84 closed

[2021-08-14 07:30] #83 closed

[2021-09-09 15:30] markpruett571 commented on #25
Hi, @xon52. Is this Vue3 version published on npm?

[2021-09-10 09:35] xon52 commented on #25
@markpruett571 TBH this just fell behind and I was too busy to restart it. Might try pick it up again this weekend.

[2021-09-22 13:36] shamshadpattani opened #86 "Modal problem in"
Google Maps Autocomplete input field inside Bootstrap modal dialog and the autocomplete result is not displayed. However, if I press the down arrow key, it selects the next autocomplete result, so it seems that the autocomplete code works correctly, only that the result is not displayed correctly. Maybe it's hidden behind the modal dialog?

i tried
[code]
Now I'm struggling to make autocomplete wo

[2021-09-26 12:16] xon52 commented on #86
Hey, I'm sorry it's taken me a while to respond. I am not following what you mean? You've put a map with autocomplete into a Bootstrap Modal and it's not showing correctly?
Can you make a demonstration on codesandpit.io or something so I can have something to test against?

[2021-09-30 14:19] DCSnip3r opened #87 "[Question] Abbreviate cardinal direction for autocomplete service"
I posted this question on Stack Overflow:
https://stackoverflow.com/questions/69380168/google-places-autocomplete-api-abbreviate-cardinal-direction-on-input

Followed the autocomplete tutorial and created a custom vue combobox that could handle google autocomplete predictions. However, the user has to type in eg "North" fully when searching for an address with a cardinal direction, instead of eg "

[2021-10-01 01:06] xon52 commented on #87
I am not sure I can replicate your issue. Here is my tutorial code and result:
[https://codesandbox.io/s/search-implementation-b53zt](https://codesandbox.io/s/search-implementation-b53zt)

https://user-images.githubusercontent.com/30713944/135550304-ca40d605-b836-4345-a193-f92afd8625c1.mov

[2021-10-01 19:54] DCSnip3r commented on #87
Thank you for this. I ran a test and determined this is actually an issue with V-Autocomplete.

I think because my input on the v-autocomplete becomes mismatched from potential results,  all of the potential results are filtered out and do not display.

Closing this issue

[2021-10-01 19:54] #87 closed

[2021-10-04 23:06] clonixdev commented on #28
I was experiencing the same incident with the @move event, this solution worked for me in v0.5.9

[2021-11-25 09:59] xon52 commented on #25
I know it's late and people have probably moved on with their lived, but I have finally finished the new (fully typed) Vue 3 version: [v3-gmaps](https://github.com/xon52/v3-gmaps). Docs on the way but demo is [here](https://vue-bujcvu.stackblitz.io).
Really keen to get some testers and feedback.

[2021-11-25 09:59] #25 closed

[2022-06-25 19:22] dvdbrk opened #97 "How to change Marker origin"
I am trying to set the `origin` for marker, but I do not know how to access `maps.Point`. Any ideas?

[code]

[2022-06-26 01:39] xon52 commented on #97
So it's a little tricky and fiddly., but you need to [use the promise which returns the Google Maps API](https://xon52.github.io/x5-gmaps/advanced.html#accessing-the-google-maps-api).

Here's something I added to use it in [this demo file](https://github.com/xon52/x5-gmaps/blob/master/dev/src/examples/MapOptions.vue).
[code]

_Edit: I also noticed that if you change your origin to the same numbers

[2022-06-26 09:02] dvdbrk commented on #97
Brilliant, this works, thank you.

[2022-06-26 09:02] #97 closed

[2022-10-04 05:41] kossa opened #99 "Using Marker Cluster with popup"
Hello,

I want to use Marker Cluster and when the user click on a marker I want to show a popup with informations

Currently my code like that:
[code]

and the popup:
[code]

[2022-10-04 09:00] xon52 commented on #99
Hmmm, this isn't really possible I'm afraid. It's a good idea which I'd like to put in, but I don't really have time right now.
How it works is when you click on a cluster, it will zoom in to the bounds. When you click on a marker in a cluster, it will emit the `click` event which you can attach a handler to - but you don't get that event from clicking on a cluster.

I might be able to rig somethi

[2022-10-04 09:03] kossa commented on #99
I got you, there is an event I can create custom pop-up in the right side,
thank you for the idea 💡

On Tue, 4 Oct 2022, 10:00 Keagan Chisnall, ***@***.***> wrote:

[2022-10-04 09:13] xon52 commented on #99
I think it will still zoom in when you click on this though. I was going to
see if I could add an optional blocker of that zoom in action.

On Tue, 4 Oct 2022, 7:03 pm Kouceyla, ***@***.***> wrote:

[2022-10-04 12:21] xon52 commented on #99
@kossa been a while since I played with this so jumped in and granted your wish in `v0.6.1` 🧙

The `cluster` component now has a property `zoom-on-click` (defaults to `true`).
If `false`, it won't zoom in, and instead emit the cluster object as a `click` event.

[2022-10-04 12:21] #99 closed

[2022-10-04 13:46] kossa commented on #99
Thank you @xon52 I appreciate

[2022-10-13 05:53] iulover99 opened #104 "Detect marker dragend"
Hello,
There is anyway I can detect the drag-end event in gmap-maker, the move event is good but it's too sensitive, I only need the lat lng when the drag is stop and that all

[2022-10-13 11:48] xon52 commented on #104
I have just release v0.6.2 and added `drag`, `dragstart`, and `dragend` events to the marker.
I can't get it to work in the online demo though but seems to be working on other environments. Can you please test it for me?

[2022-10-14 03:50] huyhoang160593 commented on #104
yeah the event is working fine now, thanks @xon52 <3

[2022-10-14 03:58] #104 closed

[2022-10-22 16:15] kossa commented on #99
Sorry to disturb you again, how can I get name when I click on pin

[code]

[code]

Currently here is the click event in the console

![image](https://user-images.githubusercontent.com/1175584/197349814-5923ea48-9de9-4083-b40b-9ce35b18cb87.png)

[2022-10-23 08:42] xon52 commented on #99
@kossa if it's a new request, please make a new Issue ticket.
If you look at the [cluster demo](https://codesandbox.io/s/x5-gmaps-demo-6xww1?file=/src/examples/MarkerCluster.vue) you can see:
[code]

[code]

You need an event handler on the `<gmaps-cluster />` component.

[2022-10-23 16:04] kossa commented on #99
I got it the important think is the `id` in the items

Thank you again

[2022-10-25 17:52] kossa opened #107 "Getting Cannot read properties of undefined (reading 'toSpan') error"
Hello,

I'm using x5-gmaps version 0.6.2 gmaps-cluster component, sometimes I get this error
![image](https://user-images.githubusercontent.com/1175584/197846314-dec0e73d-f8d5-491b-93fd-6dc783a87e56.png)

![image](https://user-images.githubusercontent.com/1175584/197846340-1149b7f0-5c2c-467b-ba01-acd4c75ce2a5.png)

[2022-10-26 01:40] xon52 commented on #107
Thanks @kossa. Have you noticed a consistent way to produce this error?

[2022-10-26 04:40] kossa commented on #107
Really I did not understand, getting up this morning it works fine 😅

[2022-10-26 04:40] #107 closed

[2022-10-26 05:29] xon52 commented on #107
@kossa I have seen this before and I can probably put a guard here to not run the extendBounds() if there is no bounds provided; but I'd like to know what to test. Let me know if you find it again 👍

[2022-10-26 06:03] kossa commented on #107
I think yesterday my internet was unstable/slow, I just tried with Fast 3G throttling I got the same error

![image](https://user-images.githubusercontent.com/1175584/197946970-540e8319-48ed-4bba-8f88-6f15709a5c2c.png)

[2022-10-26 08:36] xon52 commented on #107
I replicated this once, but could not get it again. I have a fix, but will release with the next version. If it is blocking you though let me know and I can release this minor patch.

[2022-10-26 08:38] kossa commented on #107
To be honest I'm blocked right now, still cannot continue working, if you can release this patch I'll be very grateful 😇

[2022-10-26 09:18] xon52 commented on #107
OK, new version released. I think it should fix that. Make a new issue if not, and try and get a way to reproduce it please.

[2022-10-26 09:50] kossa commented on #107
Currently it works perfectly, Thank you